<a href="https://colab.research.google.com/github/Matheusrodriguesetec/pa_repository/blob/main/lista_tupla_dicionario_sting/exercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EXERCICIOS PARTE 1 (STRING)

 1 - Use o método len para imprimir o comprimento da string.

In [19]:
x = "Hello World"
print(len(x))

11

 2 - Obtenha o primeiro caractere da string txt.

In [18]:
txt = "Hello World"
txt[0]

'H'

3 - Obtenha os caracteres do índice 2 ao índice 4 ( llo).

In [17]:
txt = "Hello World"
txt[2: -6:]

'llo'

 4 - Converta o valor de txt para maiúsculas.

In [16]:
txt = "Hello World"
txt.upper()

'HELLO WORLD'

 5 - Conte quantas vezes aparece a palavra "de" na string abaixo

In [15]:
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
txt.count('de')

3


 6 - Separe a frase abaixo toda vez que encontrar um vírgula

In [14]:
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
txt.split(",")

['Eu gosto de vijar',
 ' tomar vinho',
 ' de estudar estudar programação',
 ' de estudar Pyhon']

7 - Peça ao usuário uma frase e substitua todas as ocorrências de espaço por “#”.

In [ ]:
ate = input(str("me dê uma frase: "))
uma = ate.replace(" ", "#")
print(uma)

 8 - Faça um programa que retorne True se duas strings lidas do teclado são palíndromas mútuas, ou seja, se uma é igual à outra quando lida de traz para frente ou False, se não forem.
# Por exemplo: amor e roma

In [20]:
str1 = input(str("me dê uma palavra: "))
str2 = input(str("me dê a segunda palavra: "))

str1 = str1.lower()
str2 = str2.lower()

pros = str1[::-1] == str2
if pros == True:
  print('suas palavras são palindromas')
else: print('suas palavras não são palindromas')

pros2 = str1[::-1] == str1
if pros2 == True:
  print('sua primeira palavra é palindroma a ela mesma')
else: print('sua primeira palavra não é palindroma com ela mesma')

pros3 = str2[::-1] == str2
if pros3 == True:
  print('sua segunda palavra é palindroma a ela mesma')
else: print('sua segunda palavra não é palindroma com ela mesma')

me dê uma palavra: ala
me dê a segunda palavra: ala
suas palavras são palindromas
sua primeira palavra é palindroma a ela mesma
sua segunda palavra é palindroma a ela mesma

# EXERCICIOS PARTE 2

Exercício 1: Manipulação de Listas
Defina uma lista com 5 nomes de cidades.
Adicione uma nova cidade ao final da lista.
Remova a segunda cidade da lista.
Imprima a lista resultante.

In [1]:

cidades = [("maua"), ("ribeirão_pires"), ("santo_andre"), ("sao_bernardo"), ("guapituba")]
print(cidades)
cidades.append("cidade nova")
print(cidades)
cidades.remove("ribeirão_pires")
print(cidades)

Exercício 2: Operações com Tuplas
Defina uma tupla com 4 cores.
Crie uma nova tupla que seja a concatenação da tupla original com outra contendo mais 2 cores.
Imprima a nova tupla.

In [ ]:
cores = ("verde", "roxo", "vermelho", "marrom")
cores2 = cores + ("amarelo", "magenta")
print(cores2)

Exercício 3: Dicionários Simples
Crie um dicionário para representar um aluno, contendo "nome", "idade" e "curso".

Atualize a idade do aluno.
Adicione uma nova chave "nota" com um valor.
Imprima o dicionário atualizado

In [ ]:
aluno = {"nome": "Matheus", "idade": 14, "curso": "infonet"}

print(aluno)

aluno["idade"] = 15

print(aluno)

aluno["nota"] = 10

print(aluno)

Exercício 4: Listas e Dicionários
Crie uma lista de dicionários, onde cada dicionário representa um produto com as chaves "nome" e "preço".
Adicione um novo produto à lista.
Atualize o preço do primeiro produto na lista.
Imprima a lista resultante.

In [12]:
produto1 = {"nome": "sarcas", "preço": 1250}
produto2 = {"nome": "bungas", "preço": 5202}
produto3 = {"nome": "jarcas", "preço": 6520}

produtos = [produto1, produto2]
print(produtos)
produtos.append(produto3)
print(produtos)
produto1["preço"] = 2500
print(produtos)

[{'nome': 'sarcas', 'preço': 1250}, {'nome': 'bungas', 'preço': 5202}]
[{'nome': 'sarcas', 'preço': 1250}, {'nome': 'bungas', 'preço': 5202}, {'nome': 'jarcas', 'preço': 6520}]
[{'nome': 'sarcas', 'preço': 2500}, {'nome': 'bungas', 'preço': 5202}, {'nome': 'jarcas', 'preço': 6520}]

Exercício 5: Analisando uma Lista de Tuplas
Crie uma lista de tuplas, onde cada tupla contém um par (nome, idade).
Encontre e imprima o nome da pessoa mais velha.
Encontre e imprima a idade média das pessoas.

In [ ]:
Nome_idade = [("cintia", 21), ("matheus", 15), ("João",35), ("Joaquim", 25)]
nome_velho = ""
idade_maior = 0

if idade_maior < Nome_idade[0][1]:
  idade_maior = Nome_idade[0][1]
  nome_velho = Nome_idade[0][0]

if idade_maior < Nome_idade[1][1]:
  idade_maior = Nome_idade[1][1]
  nome_velho = Nome_idade[1][0]

if idade_maior < Nome_idade[2][1]:
  idade_maior = Nome_idade[2][1]
  nome_velho = Nome_idade[2][0]

if idade_maior < Nome_idade[3][1]:
  idade_maior = Nome_idade[3][1]
  nome_velho = Nome_idade[3][0]

media = Nome_idade[0][1] + Nome_idade[1][1] + Nome_idade[2][1] + Nome_idade[3][1] / 4
media_sem_decimais = (int(media))