<a href="https://colab.research.google.com/github/Matheusrodriguesetec/pa_repository/blob/main/Variaveis_e_operadores_aritimeticos/variaveis_e_constantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##VARIAVEIS E CONSTANTES##

In [ ]:
#usuario#

idade = 15

altura = "1.80"

nome = "Matheus Rodrigues"

vai = True

In [ ]:
nomes = ["Matheus", "Gomes", "rodrigues"]
nomes2 = ("Letícia", "Pedro", "rodrigues")
tudo = {nome: "matheus gomes", idade: 15, altura: 1.80}

In [ ]:
print(nome)
print(nomes)
print(nomes2)

Matheus Rodrigues
['Matheus', 'Gomes', 'rodrigues']
('Letícia', 'Pedro', 'rodrigues')

In [ ]:
print(type(idade))
print(type(altura))
print(type(vai))
print(type(nome))
print(type(nomes))
print(type(nomes2))
print(type(tudo))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [ ]:
#SET tira valores repetidos e coloca em ordém crescednte/alfabética#
set(nomes2)

{'Letícia', 'Pedro', 'rodrigues'}

In [ ]:
print("o nome dele é: ", nome,"||" "sua idade é: ", idade,"||" "a altura é: ", altura)

o nome dele é:  Matheus Rodrigues ||sua idade é:  15 ||a altura é:  1.80

In [ ]:
print(f"o nome dele é {nome}, e sua idade é {idade}")

o nome dele é Matheus Rodrigues, e sua idade é 15

#Área do circulo

In [ ]:
PI = 3.14159
raio = float(input("digite o valor do raio do circulo! "))
area = PI * (raio**2)
print("◉ = ", area)

digite o valor do raio do circulo! 2
◉ =  12.56636